mixin style(href)
  link(rel = 'stylesheet' type = 'text/css' href = href)&attributes(attributes)

mixin checkbox(name, checked)
  input(type = 'checkbox' id = name name = name checked = checked || false)&attributes(attributes)

mixin data-script(type, content)
  script(type = type hidden).data&attributes(attributes)!= `\n${content}\n`

mixin json-script(...args)
  - const json = JSON.stringify(...args)
  +data-script('application/json', json).json&attributes(attributes)

mixin pretty-json-script(object)
  +json-script(object, undefined, 2)&attributes(attributes)

mixin script-list(siteroot, ...list)
  for name in list
    - const src = [siteroot, 'script', name + '.js'].join('/')
    script(type = 'text/javascript' src = src)&attributes(attributes)

mixin background-image(src)
  -
    const backgroundImage = {'background-image': `url(${src})`}
    const style = Object.assign({}, backgroundImage, attributes.style)
    const newAttributes = Object.assign({}, attributes, {style})
  .image.background-image&attributes(newAttributes)

mixin main-game-list(category, mediadir)
  -
    const gamelist = readdirSync(mediadir)
    const gameinfo = getyamlobj(`game/${category}.yaml`)
    const genremap = getyamlobj('genre.yaml')
  input.zoom-out-radio#no-zoomed-article(type = 'radio' name = 'zoom-article' checked hidden)

  #main-list.list(class = ['game-' + category])&attributes(attributes)
    each gameitem in gamelist
      -
        const radio = 'show-' + gameitem + '-radio'
        const {name, genre, description} = gameinfo[gameitem]
      input.zoom-in-radio(type = 'radio' id = radio name = 'zoom-article' hidden)

      label.article-container(for = radio id = 'article-' + gameitem + '-container' target-game-item = gameitem)
        article.article(id = gameitem + '-article')
          -
            const imageurl = [siteroot, 'media', 'image', category, gameitem, 0].join('/')
          +background-image(imageurl).article-figure

          .text.content
            h2.name.game-name= name

            p.genre
              span.title.genre-title Thể loại:
              span.content.genre-list= genre.map(x => genremap[x]).join(', ')

            p.description.paragraph
              != renderMarkdownIt(description)

          label.zoom-out-button-container(for = 'no-zoomed-article'): .zoom-out-button đóng

mixin non-flash-subpage-main-game-list(category)
  main#main.no-side-pane(class = [category])
    #main-embed-container.media-container.embed-container.aaa
    +main-game-list(category, join(src, 'media', 'video', category))

mixin subpage-script-list(...extra)
  +script-list(siteroot, 'lib', 'media', 'subpage-search', ...extra)&attributes(attributes)
